*{
  margin:0;
  padding:0;
}

.header {
  display: inline-block;
  width: 100%;
}

.header li a {
  float: right;
}

.middle {
  width: 250px;
  margin: 200px auto 200px auto;
}

li {
  display: inline;
}

a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
}

.footer a{
  background-color: grey ;
}

ul li a:hover{
  text-decoration: underline;
}
